<div class="bulma">
  <div class='card {{ with .Get "modifiers" }}{{.}}{{ end }}'>
    {{ if or (.Get "header-title") (.Get "header-icon") }}
    <header class="card-header">
      {{ if .Get "header-title"}}
      <p class='card-header-title {{ with .Get "header-title-modifiers" }}{{.}}{{ end }}'>
        {{ .Get "header-title" | safeHTML }}
      </p>
      {{ end }}
      {{ if .Get "header-icon"}}
      <a href='{{ with .Get "header-icon-href" }}{{.}}{{ end }}' class="card-header-icon" aria-label='{{ with .Get "header-icon-aria-label" }}{{.}}{{ end }}'>
        <span class="icon">
          <i class='{{ .Get "header-icon" }}' aria-hidden="true"></i>
        </span>
      </a>
      {{ end }}
    </header>
    {{ end }}

    {{ .Inner }}
  </div>
</div>