@import url("site_constants.css");
@import url("fontawesome.min.css");
@import url("solid.min.css");
@import url("bulma.min.css");
@import url("responsive_menu.css");

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
}

em {
  color: var(--secondary-text-color);
  font-weight: bolder;
  font-style: normal;
}

strong {
  color: var(--secondary-text-color) !important;
  font-weight: bold;
}

a:hover {
  opacity: .6;
}

.site-top-bar {
  display: flex;
  flex-wrap: wrap;
  padding: .5rem 0 .5rem 0;
  justify-content: center;
  height: 4rem;
  background-color: var(--top-bar-color);
}

.site-logo {
  white-space: nowrap;
  display: inline-block;
}

.site-logo img {
  max-width: 15rem;
  width: calc(100% - 8rem);
  height: 4rem;
}

.site-logo-text {
  display: inline-block;
  vertical-align: top;
  font-size: calc(1.5rem + .2vw);
  color: #f1a315;
  max-width: 100px;
}

.language-switcher {
  flex: 1 0;
  text-align: right;
  margin: 0;
  align-self: center;
}

.language-switcher a {
  font-size: .9rem;
  white-space: nowrap;
  color: var(--top-bar-text-color);
}

.hero {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.hero nav {
  flex: 0 0 100%;
  padding-top: 0;
}

.page-header {
  flex: 0 0 100%;
}

.page-header h2 {
  text-align: justify;
}

.cover {
  background-color: var(--cover-background-color);
  background-repeat: no-repeat, no-repeat;
  height: 45rem;
}

.start-button {
  font-size: 2rem !important;
  font-weight: bold;
  color: #ffffff !important;
  background-color: #f1a315 !important;
}

.page-banner {
  background-position: center 100%;
  height: 18rem;
}

.page-banner h2 {
  color: var(--secondary-text-color);
  font-weight: bolder;
}

article {
  text-align: justify;
}

.bulma .card-header {
  display: table;
}

.bulma .card-header-title {
  display: table-cell;
  height: 8rem;
  overflow-x: hidden;
  overflow-y: hidden;
  color: var(--title-text-color);
  vertical-align: top;
}

.bulma .card-image {
  overflow-x: hidden;
  overflow-y: auto;
}

.bulma .card-content {
  min-height: 25rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 1rem 2rem 1rem;
}

.bulma .content ul {
  margin-left: 1em;
}

.bulma .hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bulma .hero .hero-overlay {
  content: '';
  background-color: rgba(0,0,0,.6);
  width: 100%;
  height: 100%;
}

.bulma .hero .content-section,
.bulma .hero .content-section .title,
.bulma .hero .content-section .content {
  text-align: left;
  color: var(--hero-text-color);
}

