:root {
  --top-bar-color: #CCEEDD;
  --top-bar-text-color: #7304B3;
  --cover-background-color: #CCFFDD;
  --title-text-color: #7304B3;
  --emphasis-text-color: #F1A315;
  --hero-text-color: rgba(255,255,255,.8);
}