{{ partial "site-top-bar.html" . }}

{{ $.Scratch.Set "hero_image_style" "background-image: " }}
{{ if (isset .Params "hero_images") }}
  {{ $no_of_images := ( len (.Param "hero_images") ) }}
  {{ range $index, $element := .Param "hero_images"}}
    {{ $.Scratch.Add "hero_image_style" ( print "url('" (. | absURL) "')" ) }}
    {{ if not ( eq (add $index 1) $no_of_images ) }}
      {{ $.Scratch.Add "hero_image_style" "," }}
    {{ end }}
  {{ end }}

  <header class="cover bg-top page-banner" style='{{ $.Scratch.Get "hero_image_style"  | safeCSS }};'>
    <div class='{{ .Site.Params.cover_dimming_class | default "bg-black-60" }} page-banner'>
      {{ partial "site-navigation.html" . }}
      <div class="tc-l ph3 ph4-ns">
        {{ if not .Params.omit_header_text }}
          <h1 class="f2 f1-l fw2 white-90 mb0 lh-title">{{ .Title | default .Site.Title | markdownify }}</h1>
          {{ with .Params.description }}
            <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
              {{ .  | markdownify }}
            </h2>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
