{{ partial "site-top-bar.html" . }}

{{ $.Scratch.Set "hero_image_style" "" }}
{{ if (isset .Params "hero_images_style") }}
{{ $.Scratch.Add "hero_image_style" (print (.Param "hero_images_style")) }}
{{ end }}
{{ $.Scratch.Add "hero_image_style" "background-image: " }}
{{ if (isset .Params "hero_images") }}
  {{ $no_of_images := ( len (.Param "hero_images") ) }}
  {{ range $index, $element := .Param "hero_images"}}
    {{ $.Scratch.Add "hero_image_style" ( print "url('" (. | absURL) "')" ) }}
    {{ if not ( eq (add $index 1) $no_of_images ) }}
      {{ $.Scratch.Add "hero_image_style" "," }}
    {{ end }}
  {{ end }}

  <header class="cover bg-top" style='{{ $.Scratch.Get "hero_image_style"  | safeCSS }};'>
    <div class='{{ .Site.Params.cover_dimming_class | default "bg-black-60" }} hero'>
      {{ partial "site-navigation.html" .}}
      <div class="tc-l pv4 ph3 ph4-ns page-header">
        <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
          {{ .Title | default .Site.Title | markdownify }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt3">
            {{ . | markdownify }}
          </h2>
        {{ end }}
        {{ if .Params.start_button_link }}
        <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt5 mb4 tl-l">
          <div class="bulma">
            <div class="columns is-vcentered">
              <div class="column is-narrow">
                <a class="button is-warning is-rounded is-large start-button" href="{{ .Params.start_button_link }}">
                  {{ if .Params.start_button_label }}
                    {{ .Params.start_button_label }}
                  {{ else }}
                    Click here to start
                  {{ end }}
                </a>
              </div>
              <div class="column is-narrow">
                <a href="/files/app-release.apk">
                  <figure class="image is-128x128">
                    <img src="{{ .Params.download_image }}" alt="{{ .Params.download_label }}">
                  </figure>
                </a>
              </div>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
      <div class="tc-l pv3 ph3 ph4-ns">
        <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">
          {{ .Title | default .Site.Title | markdownify }}
        </h1>
        {{ with .Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4">
            {{ . | safeHTML }}
          </h2>
        {{ end }}
        {{ with .Params.start_button_link }}
        <div class="fw1 f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4 has-text-left">
          <a href="{{ . }}">
            {{ if .Params.start_button_label }}
              {{ .Params.start_button_label }}
            {{ else }}
              Click here to start
            {{ end }}
          </a>
        </div>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}
